# dependencies
node_modules

# env
.env

# build output
dist
api/ncc-bundle/
api/index.js
api/index.ts
api/handler.cjs

# logs
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode
.postman
postman

# coverage
coverage
